/* Общие стили для всего сайта */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #000; /* Черный фон для космического стиля */
    color: #fff;
}

header, footer {
    background: #111; /* Темно-серый фон для шапки и подвала */
    padding: 10px;
    text-align: center;
}

header img {
    max-width: 150px;
    height: auto;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
}

nav a:hover {
    background: #333; /* Цвет фона при наведении на ссылки */
    border-radius: 5px;
}

footer {
    font-size: 14px;
}

footer a {
    color: #0f0; /* Цвет для ссылок в подвале */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

form {
    background: #222;
    padding: 20px;
    border-radius: 8px;
}

form input, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
}

form input[type="submit"], form button {
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover, form button:hover {
    background: #555;
}

/* Стиль для иконки глаза для предпросмотра пароля */
.fa-eye {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* Специфические стили для админ-панели */
#admin-panel {
    display: none;
    background: #222;
    padding: 20px;
    border-radius: 8px;
}

#admin-panel form {
    margin-bottom: 20px;
}
