/* Стили для футера */
footer {
    background-color: #333; /* Темно-серый фон для контраста */
    color: #fff; /* Белый цвет текста для хорошей читаемости */
    padding: 20px 0; /* Отступы сверху и снизу для пространства вокруг текста */
    text-align: center; /* Центрирование текста */
    position: fixed; /* Фиксированное позиционирование */
    bottom: 0; /* Прикрепление к нижнему краю окна браузера */
    width: 100%; /* Занимает всю ширину окна браузера */
    left: 0; /* Выравнивание по левому краю */
    right: 0; /* Выравнивание по правому краю */
    z-index: 50; /* Установка z-index для обеспечения наложения над другими элементами */
}

.footer-content {
    max-width: 1200px; /* Максимальная ширина контента */
    margin: 0 auto; /* Центрирование контента */
    padding: 0 20px; /* Отступы слева и справа для пространства вокруг контента */
}

.footer-content span,
.footer-content a {
    display: block; /* Делаем каждый элемент блочным, чтобы управлять отступами */
    margin-bottom: 10px; /* Отступ снизу для разделения элементов */
}

.footer-content a {
    color: #ff6347; /* Оранжевый цвет ссылки */
    text-decoration: none; /* Удаление подчеркивания ссылки */
    transition: color 0.3s ease; /* Плавное изменение цвета при наведении */
}

.footer-content a:hover {
    color: #ff4500; /* Темно-оранжевый цвет при наведении */
}
