body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 2; /* Обеспечение наложения поверх частиц */
    position: relative; /* Положение относительно для z-index */
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 40px;
    margin-right: 10px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

header nav ul li a:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2; /* Обеспечение наложения поверх частиц */
    position: relative; /* Положение относительно для z-index */
}

footer .footer-content a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

footer .footer-content a:hover {
    text-decoration: underline;
}

/* Стили для карточки */
.card {
  width: 400px; /* Ширина карточки */
  margin: 50px auto; /* Центрирование и отступы */
  background-color: #333; /* Темный фон карточки */
  color: #fff; /* Цвет текста */
  padding: 20px;
  border-radius: 10px; /* Скругленные углы */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); /* Световой эффект */
  z-index: 2; /* Обеспечение наложения поверх частиц */
  position: relative; /* Положение относительно для z-index */
}

.card h2 {
  margin-top: 0; /* Убираем верхний отступ у заголовка */
  color: #ffd700; /* Золотой цвет для заголовка */
}

/* Стили для изображения */
.card img {
  width: 100%; /* Изображение занимает всю ширину карточки */
  height: auto; /* Высота подстраивается автоматически */
  margin: 20px 0; /* Отступы вокруг изображения */
}

/* Стили для кнопки подключения */
.connect-button a {
  display: inline-block; /* Блочный элемент */
  background-color: #007bff; /* Цвет фона кнопки */
  color: white; /* Цвет текста на кнопке */
  padding: 10px 20px; /* Поля вокруг текста кнопки */
  text-decoration: none; /* Убираем подчеркивание ссылки */
  margin-top: 20px; /* Отступ сверху от кнопки */
  border-radius: 5px; /* Скругленные углы кнопки */
}
