/* Общие стили для body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #eaeaea;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #000022, #02073d); /* Фон */
}

/* Стили для шапки сайта */
header {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    backdrop-filter: blur(10px); /* Размытие фона */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.logo span {
    font-weight: bold;
    font-size: 24px;
    color: #ff6347; /* Цвет текста логотипа */
}

/* Стили для навигационного меню */
nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #eaeaea;
    font-size: 16px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;
}

nav ul li a:hover {
    color: #ff6347;
    border-bottom: 2px solid #ff6347;
}

/* Стили для основной части */
main {
    padding: 100px 30px 30px; /* Увеличение внутреннего отступа, чтобы учесть фиксированный хедер */
    background: linear-gradient(to right, #000022, #02073d); /* Градиентный фон для основной части */
}

/* Стили для карточки */
.card {
    width: 500px;
    margin: 50px auto;
    background-color: #121212; /* Темный фон карточки */
    color: #eaeaea; /* Светлый текст для контраста */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Анимация */
}

.card:hover {
    transform: translateY(-10px); /* Подъем карточки */
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.5); /* Увеличение тени при наведении */
}

.card h2 {
    margin-top: 0;
    color: #ffd700; /* Желтый цвет для акцентирования внимания */
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.card img {
    width: 100%;
    height: auto;
    margin: 20px 0;
    filter: brightness(75%);
}

.connect-button a {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 7px;
    font-size: 1.2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.connect-button a:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

/* Стили для футера */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 50;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content span,
.footer-content a {
    display: block;
    margin-bottom: 10px;
}

.footer-content a {
    color: #ff6347;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-content a:hover {
    color: #ff4500;
}
