/* Основные стили сайта */

/* Стили для основной части */
main {
    padding: 30px; /* Увеличение внутреннего отступа */
    background: linear-gradient(to right, #000022, #02073d); /* Градиентный фон для основной части */
}

.card {
    width: 500px; /* Увеличение ширины карточки */
    margin: 50px auto;
    background-color: #121212; /* Темный фон карточки */
    color: #eaeaea; /* Светлый текст для контраста */
    padding: 30px; /* Увеличение внутреннего отступа */
    border-radius: 15px; /* Увеличение радиуса скругления углов */
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2); /* Увеличение тени */
    backdrop-filter: blur(10px); /* Эффект размытия для создания эффекта космоса */
}

.card h2 {
    margin-top: 0;
    color: #ffd700; /* Желтый цвет для акцентирования внимания */
    font-size: 2rem; /* Увеличение размера шрифта заголовка карточки */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); /* Тень для заголовка */
}

.card img {
    width: 100%;
    height: auto;
    margin: 20px 0;
    filter: brightness(75%); /* Уменьшение яркости изображения для создания эффекта космоса */
}

.connect-button a {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 15px 30px; /* Увеличение внутренних отступов */
    text-decoration: none;
    margin-top: 20px;
    border-radius: 7px; /* Увеличение радиуса скругления углов кнопки */
    font-size: 1.2rem; /* Увеличение размера шрифта кнопки */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Тень для кнопки */
    transition: all 0.3s ease; /* Плавная анимация переходов */
}

.connect-button a:hover {
    background-color: #0056b3; /* Темнее синий цвет при наведении */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Увеличение тени при наведении */
}
